[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyairtable = "*"
python-dotenv = "*"

[dev-packages]
pre-commit = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.11"
